.navBar {
  padding: 1.5em;
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 3;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}

.logo {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  font-size: 24px;
 }
 .sideLogo {
  color: #FFFFFF;
  font-size: 24px;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
 }

#doubleArrow {
  right: 10%;
  bottom: 10px;
  height: 30px;
  width: 30px;
  font-size: 40px;
  position: absolute;
  animation-name: sliding-vertically;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: orange;
  cursor: grab;
}

@keyframes sliding-vertically {
  from {
    bottom: 10px;
  }

  25% {
    bottom: 30px;
  }

  to {
    bottom: 10px;
  }
}
