#slide {
  display: none;
}

.newTweetContainer {
  margin: 15px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}

.textBox {
  font-family: 'Bungee', cursive;
  font-size: 19px;
  height: 30px;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 4px solid black;
}

.counter {
  font-family: 'Bungee', cursive;
  position: relative;
  font-size: 21px;
  float:right;
  top: 25%;
}

.tweetButton {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  font-size: 21px;
  background-color: #4056A1;
  top: 25%;
  left: 0%;
}


#incompleteTweet {
  display: none;
  border: 2px solid red;
  color: red;
  text-align: center;
  font-size: 18px;
  font-family: 'Bungee', cursive;
}

#oversizedTweet {
  display: none;
  border: 2px solid black;
  color: red;
  text-align: center;
  font-family: 'Bungee', cursive;
}
